.videoCard {
    width: 270px;
    margin-bottom: 40px;
    
    .videoCard__thumbnail {
        height: 140px;
        width: 250px;
    }
    
    .videoCard__info {
        display: flex;
        margin-top: 10px;
        padding-right: 30px;
        
        .videoCard__avatar {
            height: 30px !important;
            width: 30px !important;
        }
        
        .videoCard__text {
            margin-left: 15px;
            
            h4 {
                font-size: 14px;
                margin-bottom: 5px;
            }
            
            p {
                font-size: 14px;
                color: gray;
            }
        }
    }
}