.header {
    background-color: #131921;
    display: flex;
    align-items: center;    /* Algin all the items in the center of the of the Container */
    position: sticky;       /* Stick at the positin on the Screen */
    top: 0;                 /* Position of the Container or screen */
    z-index: 100;
    
    .header__logo {
        width: 100px;
        object-fit: contain;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 18px;
    }
    
    .header__search {
        display: flex;
        flex: 1;
        
        .header__searchInput {
            height: 12px;
            padding: 10px;
            border: none;
            width: 100%;
        }
        
        .header__searchIcon{
            padding: 5px;
            height: 22px !important;
            background-color: #FFA336;
        }
    }
    
    .header__nav {
        display: flex;
        justify-content: space-evenly;      /* Evenly Space the Content of the Container */
        
        .header__link {
            color: white;
            text-decoration: none;      /* Removes all the decoration of the text in the Container */
        
            .header__option {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 10px;
                
                .header__optionLineOne {
                    font-size: 10px;
                }
                
                .header__optionLineTwo {
                    font-size: 13px;
                    font-weight: 800;
                }
            }
            
            .header__optionBasket {
                display: flex;
                align-items: center;
                
                .header__optionLineTwo {
                    font-size: 13px;
                    font-weight: 800;
                }
                
                .header__basketCount {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}