.home {
    max-width: 1500px;      /* Sets the Maximum Possible width of the Container */
    margin-left: auto;      /* Automatically margin from the Left */
    margin-right: auto;     /* Automatically margin from the Right */
    
    .home__image {
        width: 100%;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));     /* Adds a Mask on Image that is a Gredient from top to bottom with two provided colors */
        z-index: -1;
        margin-bottom: -150px;      /* Dedecting the margin of the Container */
    }
    
    .home__row {
        display: flex;
        z-index: 1;
        margin-left: 5px;
        margin-right: 5px;
    }
}