.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .login__logo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100px;
        object-fit: contain;
    }
    
    .login__container {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid lightgray;
        
        h1 {
            font-weight: 500;
            margin-bottom: 20px;
        }
        
        p {
            margin-top: 15px;
            font-size: 12px;
        }
        
        form {
            h5 {
                margin-bottom: 5px;
            }
            
            input {
                height: 30px;
                margin-bottom: 10px;
                background-color: white;
                width: 98%;
            }
            
            .login__signInButton {
                background-color:  #FFA336;
                border-radius: 2px;
                width: 100%;
                height: 30px;
                border: 1px solid;
                margin-top: 10px;
                border-color: #a88734 #9c7e31 #846a29;
            }
        }
        
        .login_registerButton {
            border-radius: 2px;
            width: 100%;
            height: 30px;
            border: 1px solid;
            margin-top: 10px;
            border-color: darkgray;
        }
    }
}