.videoSidebar {
    position: absolute;
    top: 40%;
    right: 10px;
    color: white;
}

.videoSidebar__button {
    padding: 10px;
    text-align: center;
}

.videoSidebar__button > p {
    font-size: 12px;
}