.videoFooter {
    display: flex;
    position: relative;
    color: white;
    bottom: 50px;
}

.videoFooter__text {
    flex: 1;
    font-size: 12px;
}

.videoFooter__record {
    animation: spinTheRecord infinite 5s linear;
    height: 35px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}